.footer{
    background:rgba(247, 238, 236, 1) ;
    padding-top: 57px;
    padding-bottom: 40px;
    &__wrapper{
        display: flex;
        padding-top: 30px;
        gap: 123px;
        flex-direction: row;
    }
    &__collection{
        display: flex;
        
        gap: 10px;
        flex-direction: column;
    }
    &__item{
        transition: .24s;
        &:hover{
            color: $bg-sy;
        }
    }
    &__box{
        margin-right: 300px;
    }
}


@media (max-width:990px){
    .footer{
        &__logo{
            display: none;
        }
        &__box{
            display: flex;
            flex-direction: row;
            width: 10px;
            height: 40px;
            gap: 10px;
        }
    }
}
@media (max-width:700px){
    .footer{
        &__wrapper{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__box{
            display: flex;
            flex-direction: row;
        }
    }
}